{% extends "core/base.html" %}

{% block title %}
Smart Supplies
{% endblock  %}

{% block content %}

    <div class="flex flex-wrap">
        {% for produto in produtos %} 
            <div class="produto w-1/3 p-2"> 
                <div class="p-4 bg-gray-50">
                    <a href="{% url 'detalhes_produtos' produto.slug %}">
                        <h2 class="text-xl">{{ produto.titulo }}</h2>
                        <p class="text-xl text-green-600">R${{ produto.display_preco }}</p>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>
        
{% endblock  %}

